@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  background-color: var(--background);
}
:root {
 
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    
  }
}

body {
  color: var(--foreground);
  
  font-family: sans-serif;
}
h3{
  font-family: designer;
}
p{
  font-family: contm;
}
#tsparticles {
  height: 100%;
  width: 100%;
  position: absolute;
}

#hsimg{
  filter: drop-shadow(0 10px 100px #45ffff);
}